<form [formGroup]="angForm" (ngSubmit)="smplfun()" ngValidate>
  <div class="col-md-6">
    <span > WELCOME </span>

  </div>
  <div class="form-group col-md-6">
    <label class="col-md-6">Number of words of Rhym's</label><br>
    <input type="number" class="form-control" [(ngModel)]="model.rhymno"  formControlName="rhymno" #rhymno />
  </div>
  <div class="form-group col-md-6">
    <button class="btn btn-primary">Save</button>
  </div>
</form>

<span class="col-md-6" *ngIf="winner" style="color: blueviolet;">Congratulations! <b style="color: brown; font-size: 30px;">{{winner}}</b> is winner</span>

<router-outlet></router-outlet>